.container-rwap-blank {
    display: flex;
    display: -webkit-flex;
    display:-moz-box;
    padding: 0 70px;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
}

.container-block-left {
    display: flex;
    flex-direction: row;
    width: 800px;
    background-color: white;
}

.container-block-right {
    display: flex;
    flex-direction: row;
    flex-flow: column;
    margin-bottom: 10px;
    width: 382px;
    margin-left: 10px;
    background-color: white;
}
