<div class="header-container">
  <div>
    <a routerLink="/reports" routerLinkActive="active"><span>トップ</span></a>
  </div>
  <div>
    <a routerLink="/investment" routerLinkActive="active"><span>投資情報</span></a>
  </div>
  <div>
    <a routerLink="/external/articles" routerLinkActive="active"><span>エクイティ</span></a>
  </div>
  <div>
    <a routerLink="/investment" routerLinkActive="active"><span>プライマリー</span></a>
  </div>
  <div>
    <a routerLink="/investment" routerLinkActive="active"><span>その他</span></a>
  </div>
</div>