<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h2 class="sub-header">标签管理</h2>
  <div class="table-responsive">
    <a class="btn btn-success pull-right" href="tag-new.html">新增标签</a>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>序号</th>
          <th>分类名称</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>朋友</td>
          <td>
            <a href="edit.html">编辑</a>
            <a href="#">删除</a>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>家人</td>
          <td>
            <a href="edit.html">编辑</a>
            <a href="#">删除</a>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>同学</td>
          <td>
            <a href="edit.html">编辑</a>
            <a href="#">删除</a>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>公司</td>
          <td>
            <a href="edit.html">编辑</a>
            <a href="#">删除</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>