<div style="padding: 30px;">
  
  <h2 style="background-image: url(assets/img/icon/i-report-information.svg); background-position: left center;
    background-repeat: no-repeat;background-size: 24px 24px;display: inline;padding-left: 34px;"></h2>
  <div style="display: inline; font-size: 18px;font-weight: bold;text-decoration: solid;">
    <span>新着配信情報（インフォメーション）</span>
  </div>

  <div style="height: 600px;overflow-y: scroll;">
    
    <div style="display: flex;flex-direction: row;justify-content: flex-start;
    margin: 15px 0; border-bottom-width: 1px;border-bottom-color: #e5e5e5;
    border-bottom-style: solid; padding: 5px 0 15px 0;align-content: center;">
      <div style="background-color: #ff4e4f; border-color: #ff4e4f;color: #fff;font-weight: bold;border: 1px solid;
      border-radius: 24px;min-width: 38px;padding-top: 5px;font-size: 10px;">要対応</div>
      <div style="display:flex;width: 406px;margin-left: 10px;align-items: center;"><a routerLink="/investment/cheng" routerLinkActive="active">key_12345</a></div>
      <div style="display:flex;background-color: blueviolet;color: white;font-size: 10px;width:82px;justify-content: center; height: 25px;line-height: 25px;
      border-radius: 2px;">投資情報</div>
      <div style="display: flex ;font-size: 12px;margin-left: 10px;">部店長・管理職</div>
      <div style="display: flex ;color:rgba(0, 0, 0, 0.4);font-size: 12px; margin-left: 20px;">
        <span style="padding-top: 2px;">2019/12/27</span>
      </div>
    </div>

    <div style="display: flex;flex-direction: row;justify-content: flex-start;
    margin: 15px 0; border-bottom-width: 1px;border-bottom-color: #e5e5e5;
    border-bottom-style: solid; padding: 5px 0 15px 0;align-content: center;">
      <div style="display:flex;width: 456px;"><a routerLink="/investment/cheng" routerLinkActive="active">key_12345</a></div>
      <div style="display:flex;background-color: blueviolet;color: white;font-size: 10px;width:82px;justify-content: center;
      height: 25px;line-height: 25px;border-radius: 2px;">その他</div>
      <div style="display: flex ;font-size: 12px;margin-left: 10px;">全社員</div>
      <div style="display: flex ;color:rgba(0, 0, 0, 0.4);font-size: 12px; margin-left: 20px;">
        <span style="padding-top: 2px;">2019/12/27</span>
      </div>
    </div>

    <div style="display: flex;flex-direction: row;justify-content: flex-start;
    margin: 15px 0; border-bottom-width: 1px;border-bottom-color: #e5e5e5;
    border-bottom-style: solid; padding: 5px 0 15px 0;align-content: center;">
      <div style="display:flex;width: 456px;"><a routerLink="/investment/cheng" routerLinkActive="active">key_12345</a></div>
      <div style="display:flex;background-color: blueviolet;color: white;font-size: 10px;
      height: 25px;line-height: 25px;width:82px;justify-content: center;border-radius: 2px;">投資情報</div>
      <div style="display: flex ;font-size: 12px;margin-left: 10px;">部店長・管理職</div>
      <div style="display: flex ;color:rgba(0, 0, 0, 0.4);font-size: 12px; margin-left: 20px;">
        <span style="padding-top: 2px;">2019/12/27</span>
      </div>
    </div>

    <div style="display: flex;flex-direction: row;justify-content: flex-start;
    margin: 15px 0; border-bottom-width: 1px;border-bottom-color: #e5e5e5;
    border-bottom-style: solid; padding: 5px 0 15px 0;align-content: center;">
      <div style="display:flex;width: 456px;"><a routerLink="/investment/cheng" routerLinkActive="active">key_12345</a></div>
      <div style="display:flex;background-color: blueviolet;color: white;font-size: 10px;width:82px;justify-content: center;
      height: 25px;line-height: 25px;border-radius: 2px;">その他</div>
      <div style="display: flex ;font-size: 12px;margin-left: 10px;">全社員</div>
      <div style="display: flex ;color:rgba(0, 0, 0, 0.4);font-size: 12px; margin-left: 20px;">
        <span style="padding-top: 2px;">2019/12/27</span>
      </div>
    </div>

    <div style="display: flex;flex-direction: row;justify-content: flex-start;
    margin: 15px 0; border-bottom-width: 1px;border-bottom-color: #e5e5e5;
    border-bottom-style: solid; padding: 5px 0 15px 0;align-content: center;">
      <div style="display:flex;width: 456px;font-size: 14px;">タイトルが長い場合のテストです。タイトルが長い場合のテストです。タイトルが長い場合のテストです...</div>
      <div style="display:flex;background-color: blueviolet;color: white;font-size: 10px;width:82px;justify-content: center;
      border-radius: 2px; height: 25px;line-height: 25px;">投資情報</div>
      <div style="display: flex ;font-size: 12px;margin-left: 10px;">全社員</div>
      <div style="display: flex ;color:rgba(0, 0, 0, 0.4);font-size: 12px; margin-left: 20px;">
        <span style="padding-top: 2px;">2019/12/27</span>
      </div>
    </div>
    
</div>
</div>