h2{
  font-family: Lato; 
  margin:0 auto; 
  text-align:center; 
  font-weight: 600;
  color:green;
}

section {
  display:block;
  padding:20px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  margin-right: 10px;
  overflow:hidden;
}

.sentance {
  display: block;
  float: left;
  width:50%;
  border-top-style: 1px solid #e5e5e5;
}